.post {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    border-style: solid;
    border-color: grey;
    border-width: thin;
    gap: 5px;
    display: flex;
    flex-direction: column;
  }
  
  .post:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
  }
  
  .post h3 {
    color: #333;
    font-size: 20px;
  }
  
  .post p {
    color: #666;
    font-size: 16px;
    overflow-wrap: anywhere;
  }

  .break {
    height: 1px;
    border-width: 0;
    background-color: grey;
  }
  
  .content {
    text-align: left;
    padding: 5px;
    border-color: black;
  }

  .meta {
    display: flex;
    justify-content: space-between;
  }
  
  .author,
  .date {
    color: #999;
    font-size: 14px;
    font-weight: 500;
  }
  
  .author {
    gap: 2rem;
  }
  
  .date {
    text-align: right;
  }

  
  @media only screen and (max-width: 600px) {
    .post {
      padding: 10px;
    }
    
    .post h3 {
      font-size: 18px;
    }
    
    .post p {
      font-size: 14px;
    }
    
    .meta {
      flex-direction: column;
    }
    
    .author {
      gap: 2rem;
    }
    
    .date {
      text-align: left;
    }
  }
  .replies{
    background-color: #ece7e7;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    width: 100%;
  }
  .reply-button {
    background-color: #00ff33;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .reply-button:hover {
    background-color: #00ff33;
  }

  .reply .author {
    color: #000;
    font-weight: bold;
  }
  .replies h4 {
    gap: 4rem;
  }
  
  
  
  